<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		
		
	</startup>

	<connectionStrings>

		<clear/>
		<add name="conString"
			 
			 connectionString="Data Source=JEMMY\MSSQLSERVER01;Initial Catalog=awelearning;Integrated Security=True"/>
		
	</connectionStrings>
	
	
</configuration>